@font-face {
    font-family: 'SBAggroB';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroM';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: red;
    --text-color: blue;
    --text-sub-color: green;
}

html {
    background-color: whitesmoke;
    font-size: 20px;
}

#wrap {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    width: 99vw;
    height: 98vh;
    box-shadow: 0 0 5px #aaa;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "top top top" "left center right" "bottom bottom bottom";
}

.grid > div:not(.center) {
    background-color: #fff;
}

.top > div,
.bottom {
    border: 3px solid var(--main-color);
}

.left > span,
.to-do-list,
.right > div {
    background-color: var(--main-color);
    color: var(--text-color);
}

/* TOP */
.top {
    display: grid;
    grid-area: top;
    grid-template-columns: 200px fit-content(500px) 1fr;
    font-family: 'SBAggroB';
}

.top div {
    display: flex;
    align-items: center;
    padding: 3px 20px 0;
    box-sizing: border-box;
    border-right: none;
}

.top div:last-child {
    justify-content: flex-end;
    border-right: 3px solid var(--main-color);
    text-align: right;
}

.top #clock {
    justify-content: center;
    padding-top: 5px;
    font-size: 1.7rem;
}

/* LEFT */
.left {
    position: relative;
    grid-area: left;
    font-family: 'SBAggroB';
}

.left > span {
    cursor: pointer;
}

.left > span:first-of-type {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    word-break: break-all;
    font-size: 1.5rem;
}

.left > span:last-of-type {
    position: absolute;
    bottom: 20px;
    line-height: 50px;
    writing-mode: vertical-rl;
    font-family: 'SBAggroM';
    font-size: 0.7rem;
    transform: rotate(180deg);
}

.to-do-list {
    display: none;
    position: absolute;
    width: 500px;
    height: 100%;
    padding: 30px 15px 30px 30px;
    box-sizing: border-box;
    font-size: 1.7rem;
    z-index: 100;
}

.active {
    display: flex;
    flex-direction: column;
}

.logout {
    justify-content: center;
    align-items: center;
}

#list {
    margin-top: 20px;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

#list::-webkit-scrollbar {
    width: 5px;
}

#list::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    background-clip: padding-box;
}

#list li {
    font-size: 1.2rem;
    font-family: 'SBAggroM';
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
}

#list li span {
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#list li span:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

#list li div {
    min-width: fit-content;
    margin-left: 10px;
}

#list li button {
    margin-left: 3px;
    background-color: transparent;
    font-family: 'SBAggroB';
    font-size: 1rem;
    color: var(--text-sub-color);
}

/* CENTER */
.center {
    position: relative;
    grid-area: center;
    justify-content: center;
    align-items: center;
}

.center img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.center span {
    margin-bottom: 50px;
    font-size: 5rem;
    font-weight: bold;
    color: var(--text-sub-color);
}

.center > div {
    text-align: center;
}

.center form input[type=text] {
    width: 400px;
    height: 47px;
    padding: 0 10px;
    border: none;
    border-bottom: 3px solid var(--main-color);
    background-color: transparent;
    font-family: 'SBAggroM';
    font-size: 1.5rem;
    color: var(--text-sub-color);
}

.center form input[type=text]::placeholder {
    color: var(--text-sub-color);
}

.center form input[type=text]:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

#login-form input[type=submit] {
    width: 120px;
    height: 50px;
    margin-left: 10px;
    border: none;
    font-family: 'SBAggroB';
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--main-color);
    cursor: pointer;
}

#to-do-form input[type=text] {
    margin-top: 50px;
    text-align: center;
    font-size: 1rem;
}

/* RIGHT */
.right {
    position: relative;
    grid-area: right;
    height: 100%;
    font-family: 'SBAggroB';
    overflow: hidden;
}

.right div {
    position: absolute;
    display: block;
    height: 200%;
    overflow: hidden;
    animation: movingText 7s linear infinite;
}

.right div span {
    float: left;
    height: 25%;
    padding: 10px 0;
    box-sizing: border-box;
    line-height: 50px;
    writing-mode: vertical-lr;
}

@keyframes movingText {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

/* BOTTTOM */
.bottom {
    display: flex;
    align-items: flex-end;
    grid-area: bottom;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'SBAggroM';
}

.bottom span:last-child {
    margin-left: 15px;
    font-size: 0.7rem;
}